*{
	margin: 0;
	padding: 0;
}

.contentam {
    margin-top: -19px;
    padding: 24px;
}

.contentam span {
    color: #e8e2e6;
    font-size: 187%;
}

.lineright img {

    width: 4%;
    bottom: 9.0%;
    left: 7%;
}
.about_me{
	text-align: center;
}
h5.slogan {
    width: 40%;Ä‘Ã¢sdsadsadas
    font-size: 116%;
    color: darkgrey;
    display: inline-block;
}

.frames-avata h1 {
    color: #FFF;
    text-align: center;
    width: 100%;
}

.avata img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid red;
}

.frames-avata {
    height: auto;
    width: 27%;
    background-color: #00000091;
    margin-left: 2%;
    margin-top: 60px;
    box-shadow: -9px -5px 12px #A4A4A4;
}

.frames-avata {
    float: left;
}
body{
	background-image: url(../images/bg1.jpg);
	height: auto;
	margin: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
}
.aboutme h1 {
    text-align: center;
    border-bottom: 4px solid red;
    width: 12%;
    margin: auto;
    color: #3c6926;
}

.Menu {width: 1000px;
		margin: auto;
		height: 100px;
	}

.Menu button:hover {
    background: #4ca521;
    transform: scale(1.02);
}

.Menu button {
	margin: 2px;
	text-transform: uppercase;
	border: none;
	border-radius: 20px;
	outline: none;
	color: #f7f7f1;
	background: #1e381e;
	width: 14%;
	height: 50px;
	float: left;
	font-weight: bold;
	cursor: pointer;
}

